<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Crear Usuario</title>
</head>
<body>
  <h1 class="header">Crear Usuario</h1>
  <div class="goToHome">
    <a href="/">Home</a>
  </div>
  <form action="/create" method="POST" class="form-container">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" required>
    </div>
    <div class="form-group">
      <label for="aPaterno">Apellido Paterno:</label>
      <input type="text" name="aPaterno" id="aPaterno" required>
    </div>
    <div class="form-group">
      <label for="aMaterno">Apellido Materno:</label>
      <input type="text" name="aMaterno" id="aMaterno" required>
    </div>
    <div class="form-group">
      <label for="tDocumento">Tipo documento:</label>
      <input type="text" name="tDocumento" id="tDocumento" required>
    </div>
    <div class="form-group">
      <label for="nDocumento">Número documento:</label>
      <input type="text" name="nDocumento" id="nDocumento" required>
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="text" name="telefono" id="telefono" required>
    </div>
    <div class="form-group">
      <label for="correo">Email:</label>
      <input type="email" name="correo" id="correo" required>
    </div>
    <div class="form-group">
      <button type="submit">Crear</button>
    </div>
  </form>
</body>
</html>
